USE [master]
GO
/****** Object:  Database [DBSACH_UIT2T]    Script Date: 7/1/2018 10:30:01 PM ******/
CREATE DATABASE [DBSACH_UIT2T]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBSACH_UIT2T', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER\MSSQL\DATA\DBSACH_UIT2T.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBSACH_UIT2T_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER\MSSQL\DATA\DBSACH_UIT2T_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBSACH_UIT2T].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBSACH_UIT2T]
GO
USE [DBSACH_UIT2T]
GO
/****** Object:  Table [dbo].[BAOCAOCONGNO]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOCONGNO](
	[MaBaoCaoCongNo] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [datetime2](7) NULL,
	[NgayLap] [datetime2](7) NULL,
 CONSTRAINT [PK_BAOCAOCONGNO] PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoCongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAOTON]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTON](
	[MaBaoCaoTon] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [datetime2](7) NULL,
	[NgayLap] [datetime2](7) NULL,
 CONSTRAINT [PK_BAOCAOTON] PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoTon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBAOCAOCONGNO]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAOCAOCONGNO](
	[MaChiTietBaoCaoCongNo] [int] IDENTITY(1,1) NOT NULL,
	[MaBaoCaoCongNo] [int] NULL,
	[MaKhachHang] [int] NULL,
	[NoDau] [float] NULL,
	[PhatSinh] [float] NULL,
	[NoCuoi] [float] NULL,
 CONSTRAINT [PK_CHITIETBAOCAOCONGNO] PRIMARY KEY CLUSTERED 
(
	[MaChiTietBaoCaoCongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBAOCAOTON]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAOCAOTON](
	[MaChiTietBaoCaoTon] [int] IDENTITY(1,1) NOT NULL,
	[MaBaoCaoTon] [int] NULL,
	[MaSach] [int] NULL,
	[TonDau] [int] NULL,
	[PhatSinh] [int] NULL,
	[TonCuoi] [int] NULL,
 CONSTRAINT [PK_CHITIETBAOCAOTON] PRIMARY KEY CLUSTERED 
(
	[MaChiTietBaoCaoTon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaChiTietHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NULL,
	[MaSach] [int] NULL,
	[SoLuongBan] [int] NULL,
	[DonGiaBan] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MaChiTietPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NULL,
	[MaSach] [int] NULL,
	[SoLuongNhap] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayLapHoaDon] [datetime2](7) NULL,
	[MaKhachHang] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKhachHang] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[TienNo] [float] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime2](7) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThu] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayThuTien] [datetime2](7) NULL,
	[SoTienThu] [float] NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](200) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[TacGia] [nvarchar](100) NULL,
	[SoLuongTon] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 7/1/2018 10:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[SoLuongNhapToiThieu] [int] NOT NULL,
	[SoLuongTonToiDa] [int] NOT NULL,
	[SoLuongTonToiThieu] [int] NOT NULL,
	[SoTienNoToiDa] [float] NOT NULL,
	[SuDungQD4] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([MaChiTietHoaDon], [MaHoaDon], [MaSach], [SoLuongBan], [DonGiaBan]) VALUES (1, 1, 2, 2, 79000)
INSERT [dbo].[CHITIETHOADON] ([MaChiTietHoaDon], [MaHoaDon], [MaSach], [SoLuongBan], [DonGiaBan]) VALUES (2, 1, 3, 1, 150000)
INSERT [dbo].[CHITIETHOADON] ([MaChiTietHoaDon], [MaHoaDon], [MaSach], [SoLuongBan], [DonGiaBan]) VALUES (3, 2, 5, 1, 40800)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] ON 

INSERT [dbo].[CHITIETPHIEUNHAP] ([MaChiTietPhieuNhap], [MaPhieuNhap], [MaSach], [SoLuongNhap]) VALUES (1, 1, 1, 160)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MaChiTietPhieuNhap], [MaPhieuNhap], [MaSach], [SoLuongNhap]) VALUES (2, 1, 2, 300)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MaChiTietPhieuNhap], [MaPhieuNhap], [MaSach], [SoLuongNhap]) VALUES (3, 1, 3, 210)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[DANGNHAP] ON 

INSERT [dbo].[DANGNHAP] ([id], [TenDangNhap], [MatKhau]) VALUES (1, N'admin', N'BBB2CA48225EFB207E0EC1CD9F2877BD')
SET IDENTITY_INSERT [dbo].[DANGNHAP] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MaHoaDon], [NgayLapHoaDon], [MaKhachHang]) VALUES (0, CAST(N'2018-07-01T22:03:19.6733333' AS DateTime2), 1)
INSERT [dbo].[HOADON] ([MaHoaDon], [NgayLapHoaDon], [MaKhachHang]) VALUES (1, CAST(N'2018-07-01T22:03:19.6733333' AS DateTime2), 1)
INSERT [dbo].[HOADON] ([MaHoaDon], [NgayLapHoaDon], [MaKhachHang]) VALUES (2, CAST(N'2018-07-01T22:03:19.6733333' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKhachHang], [HoTenKhachHang], [DiaChi], [DienThoai], [Email], [TienNo]) VALUES (1, N'Nguyễn Huỳnh Thanh Tâm', N'21 Lê Đức Thọ, P.15, TP.HCM', N'01223632954', N'16521062@gm.uit.edu.vn', 0)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [HoTenKhachHang], [DiaChi], [DienThoai], [Email], [TienNo]) VALUES (2, N'Đặng Minh Tiến', N'212/2 đường số 8, Bến Tre', N'0961014106', N'dangminhtien06@gmail.com', 0)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [HoTenKhachHang], [DiaChi], [DienThoai], [Email], [TienNo]) VALUES (3, N'Nguyễn Tây Trung', N'33 Lê Đức Thọ, P15, quận Gò Vấp', N'01253342956', N'trungnt@yahoo.com', 0)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MaPhieuNhap], [NgayNhap]) VALUES (0, CAST(N'2018-07-01T21:56:11.4366667' AS DateTime2))
INSERT [dbo].[PHIEUNHAP] ([MaPhieuNhap], [NgayNhap]) VALUES (1, CAST(N'2018-07-01T21:56:11.4366667' AS DateTime2))
INSERT [dbo].[PHIEUNHAP] ([MaPhieuNhap], [NgayNhap]) VALUES (2, CAST(N'2018-07-01T21:58:25.0633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[PHIEUTHUTIEN] ON 

INSERT [dbo].[PHIEUTHUTIEN] ([MaPhieuThu], [MaKhachHang], [NgayThuTien], [SoTienThu]) VALUES (0, 1, CAST(N'2018-07-01T22:09:50.4200000' AS DateTime2), 308000)
INSERT [dbo].[PHIEUTHUTIEN] ([MaPhieuThu], [MaKhachHang], [NgayThuTien], [SoTienThu]) VALUES (1, 2, CAST(N'2018-07-01T22:10:19.5833333' AS DateTime2), 40800)
INSERT [dbo].[PHIEUTHUTIEN] ([MaPhieuThu], [MaKhachHang], [NgayThuTien], [SoTienThu]) VALUES (2, 3, CAST(N'2018-07-01T22:10:19.5833333' AS DateTime2), 14000)
SET IDENTITY_INSERT [dbo].[PHIEUTHUTIEN] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MaSach], [TenSach], [TheLoai], [TacGia], [SoLuongTon], [DonGia]) VALUES (1, N'Nhà Lãnh Đạo Không Chức Danh', N'Kinh tế', N'Robin Sharma', 309, 80000)
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TheLoai], [TacGia], [SoLuongTon], [DonGia]) VALUES (2, N'P.Kotler Tiếp thị 4.0', N'Kinh tế', N'Nguyễn Khoa Hồng Thành', 497, 79000)
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TheLoai], [TacGia], [SoLuongTon], [DonGia]) VALUES (3, N'Qua Pixar Là Vô Cực', N'Kinh tế', N'Lawrence Levy', 206, 150000)
SET IDENTITY_INSERT [dbo].[SACH] OFF
INSERT [dbo].[THAMSO] ([SoLuongNhapToiThieu], [SoLuongTonToiDa], [SoLuongTonToiThieu], [SoTienNoToiDa], [SuDungQD4]) VALUES (150, 300, 20, 20000, 1)
ALTER TABLE [dbo].[CHITIETBAOCAOCONGNO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBAOCAOCONGNO_BAOCAOCONGNO] FOREIGN KEY([MaBaoCaoCongNo])
REFERENCES [dbo].[BAOCAOCONGNO] ([MaBaoCaoCongNo])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOCONGNO] CHECK CONSTRAINT [FK_CHITIETBAOCAOCONGNO_BAOCAOCONGNO]
GO
ALTER TABLE [dbo].[CHITIETBAOCAOCONGNO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBAOCAOCONGNO_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOCONGNO] CHECK CONSTRAINT [FK_CHITIETBAOCAOCONGNO_KHACHHANG]
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBAOCAOTON_BAOCAOTON] FOREIGN KEY([MaBaoCaoTon])
REFERENCES [dbo].[BAOCAOTON] ([MaBaoCaoTon])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTON] CHECK CONSTRAINT [FK_CHITIETBAOCAOTON_BAOCAOTON]
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBAOCAOTON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTON] CHECK CONSTRAINT [FK_CHITIETBAOCAOTON_SACH]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SACH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAP] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_KHACHHANG]
GO
USE [master]
GO
